<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
      <body>
         <div class="container">
           <div class="jumbotron">
         <% include ../static/partials/navbar.ejs %>
         <h1 class="display-4">Wiki Page</h1>
         <ul class="list-group">
<!-- #1 -->
        <% wikis.forEach((wikis) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/wikis/<%= wikis.id %>"> <%= wikis.title %> </a>
          </li>
       <% }) %>
    </ul>
  </div>
  </div>
 </body>
</html>
