<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
      <body>
         <div class="container">
           <div class="jumbotron">
         <% include ../static/partials/navbar.ejs %>
         <h1 class="display-4">Wiki Page</h1>
         <ul class="list-group">
           <% wikis.forEach((wiki) => { %>
         <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
       <% }) %>
    </ul>
  </div>
  </div>
 </body>
</html>
