<!DOCTYPE html>
<html>
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <div class="container">
      <h1><%= wikis.title %></h1>
      <a href="/wikis/<%= wikis.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/wikis/<%= wikis.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <p><%= wiki.description %></p>
    </div>

   <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
