<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
<main class="container">
  <h2>Downgrade Account</h2>
  <div class="row">
    <div class="col-md-8">
      <form method="POST" action="/user/downgrade">
        <input type="submit" value="Downgrade" class="stripe-button">
      </form>
    </div>
  </div>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
  </html>
