<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
<main class="container">
  <h2>You successfully paid $15.00</h2>
  <div class="row">
    <div class="col-md-8">
      <form method="POST" action="/user/upgrade">
        <div class="form-group">
          <label>Amount:</label>
          <input type="text" placeholder="Enter Amount" class="form-control">
        </div><br>
        <input type="submit" value="Upgrade" class="stripe-button">
      </form>
    </div>
  </div>
  <form action="/user/upgrade" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_RFzd6YXmlyBK4mJABOWrDP7l"
      data-amount="1500"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
    </script>
  </form>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
  </html>
